// VARIABLES 
// color 
$color-black-0: #333;
$color-black-3: #29303b;
$color-black-4: #14171c;

$color-white-0: #fff;

$color-red-0: #ec5252;

$color-gray-1: #686f7a;
$color-gray-2: #505763;
$color-gray-3: #f7f8fa;
$color-gray-4: #f2f3f5;

$color-hover-0: rgba(20,23,28,.05);
$color-hover-1: #003845;
$color-hover-2: #992337;

$color-lg-0: #EC5252;
$color-lg-1: #6E1A52;

$color-blue-0: #007791;
$color-trans: rgba(0, 0, 0, 0);
$color-border: rgba(20,23,28,.05);

$color-border-1: #8a92a3;

$color-focus: #dedfe0;

$color-border-1: #ddd;


//padding
$pd-0: 11px;
$pd-1: 12px;
$pd-2: 10px;
$pd-3: 15px;
$pd-4: 0;

// font size 
$fs-0: 13px;
$fs-1: 15px;
$fs-2: 19px;
$fs-3: 40px;
$fs-4: 24px;

// font weight 
$fw-3: normal;
$fw-0: 600;
$fw-1: 400;
$fw-4: 700;

// line height
$lh-0: 1.33;
$lh-1: 1.61;
$lh-2: 1.43;
$lh-3: 1.5;
$lh-4: 18px;
// margin 

$mg-0: 0;
$mg-1: 24px;
$mg-2: 15px;
$mg-3: 2px

// breakpoints 
