// variables color 
$color-black-0: #333;
$color-black-1: #101010;
$color-white-0: #fff;
$color-orange-0: #fbbd61;
$color-orange-1: #ec7532;
$color-gray-1: #d8d8d8;
$color-gray-2: #717171;
$color-gray-opacity-2: rgba(216, 216, 216, 0.5);
$color-gray-3: #4a4a4a;
$color-gray-4: #dee2e6;


// variable font-size 
$fs-0: 16px;
$fs-1: 18px;
$fs-2: 14px;
$fs-3: 40px;

// variable font-weight 
$fw-0: 300;
$fw-1: 700;

// variable margin 
$mg-0: 5px;
$mg-1: 15px;
$mg-y-3: 40px;
$mg-y-4: 20px;

// variable padding
$pd-0: 15px;
$pd-1: 50px;
$pd-2: 75px;

// letter spacing 
$letter-sp-0: 1.7px;